/* CSS Document */
p {
	color: white;
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	  border-radius: 25px;
	}
body{
	background-image: url("Dokumenti/Pozadina.jpg");
	background-size: 1920px 1920px;
	font-family: Helvetica, sans-serif;
	color: 	honeydew;
}
a:hover{
	background-color: rgba(255, 255, 255, 0.5);
}